extend layout
block content

  script(id="clipboard_link", type="text/x-handlebars")
    <a href ={{link}}  target="_blank"> {{link}}</a>
  script(id="clipboard_text", type="text/x-handlebars")
    {{text}}
