doctype
html
  head
    title Public Clipboard
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/io.jpg")
  body
    header
      h1 Public Clipboard
    .container
      .main-content
        block content
    footer
      p Made by #[a(href="http://iostreamer.me") iostreamer]
