doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Public Clipboard
    .container
      .main-content
        block content
    footer
      p Made by #[a(href="http://iostreamer.me") iostreamer]
